.heroContainer {
  padding: 0px 32px;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroTitle {
  font-size: 30px;
  margin: 0;
}

.heroDesc {
  width: 50%;
  font-size: 18px;
  line-height: 1.5;
}